<h1>
	Servicios
</h1>

<div class="borde">
	
	<div class="imagen">
		<img src="https://i.pravatar.cc/130">
	</div>

	<div class="cuerpo">
		<h3>Desarrollo Web</h3>
		<span class="subtitulo">Los mejores sitios web</span>
		<span class="precio">S. 1200</span>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
		</p>
	</div>

</div>

<div class="borde">
	
	<div class="imagen">
		<img src="https://i.pravatar.cc/130">
	</div>

	<div class="cuerpo">
		<h3>Desarrollo Web</h3>
		<span class="subtitulo">Los mejores sitios web</span>
		<span class="precio">S. 1200</span>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
		</p>
	</div>

</div>
